* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #74c69d;
	header {
	background-color: #007f5f;
	min-height: 8vh;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
    }
    header h2 {
    	font-size: 1.6rem;
    	letter-spacing: 2px;
    	padding: 1rem 0 1rem 2rem;
    	color: #fff;
    }
    .filter-haveRead-form {
    	display: flex;
    	align-items: center;
    	h2 {
    		font-size: 1rem;
    		padding: 0;
    		margin-left: 2rem;
    	}
    	.filter-radio-container {
    		margin-left: .5rem;
    		label {
    			font-size: 1rem;
    			color: #fff;
    			font-weight: 300;
    		}
    	}

    }
}
@mixin pad {
	@media(max-width: 768px) {
		@content;
	}
}
@mixin mobile {
	@media(max-width: 550px) {
		@content;
	}
}

.books-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	max-width: 900px;
	margin: 0 auto;
	gap: 15px;
	justify-content: start;
	@include pad {
		padding: 0 1rem;
		gap: 20px;
	}
	.card {
	  width: calc(100% / 3 - 10px);
	  @include pad {
	  	width: calc(100% / 2 - 10px);
	  }
	  @include mobile {
	  	flex: 1 1 100%;
	  	margin: 0 1rem;
	  }
	}
}

.card {
	background-color: #fff;
	border-radius: .25rem;
	h3 {
		margin: 1rem;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		padding: .5rem;
	}
	.title {
		background-color: #007f5f;
		border-top-right-radius: .25rem;
		border-top-left-radius: .25rem;
		color: #fff;
		margin: 0;
		padding: 1rem 0;
	}
	.btn-group {
		display: flex;
		flex-wrap: wrap;
		margin-top: 2rem;
		button {
			border: none;
			cursor: pointer;
			padding: .5rem;
			font-size: 1rem;
			flex: 1;
			color: #fff;
			// font-weight: bold;
		}
		.edit-btn {
			background-color: #f9c74f;
		}
		.delete-btn {
			background-color: #f94144;
		}
	}
}

.add-form {
	min-width: 350px;
	border-radius: .25rem;
	padding: 1rem;
	background-color: #fff;
	// fixed 是以 viewport 為基準，不是像 absolute 一樣會抓上層的 relative
	position: fixed;
	top: 50%;
	left: 50%;
	// transform: translate(x, y);
	transform: translate(-50%, -50%) scale(0);
	transition: transform .2s ease-in;
	z-index: 999;
	.close-add-form-btn {
		position: absolute;
		top: -.25rem;
		right: .5rem;
		color: red;
		font-size: 2rem;
		cursor: pointer;
	}
	h2 {
		text-align: center;
		font-size: 2rem;
		margin: .5rem 0;
	}
	label {
		font-size: 1rem;
		margin-top: .5rem;
		display: block;
	}
	input, select {
		background-color: #f7f7f7;
		border-radius: .25rem;
		border: none;
		width: 100%;
		font-size: 1rem;
		padding: .5rem;
		margin-top: .5rem;
		outline: 0;
	}
	input[type="submit"] {
		background-color: #007f5f;
		color: #fff;
		margin-top: 1rem;
		font-size: 1rem;
		cursor: pointer;
	}
}
.add-form.is-active {
	transform: translate(-50%, -50%) scale(1);
}

#overlay {
	// position: absolute 的 top, right, bottom and left
	// => 代表基準元素的 containing block （ignores parent padding/border）
	// => 會看全部的區塊，所以會無視 padding 跟 margin
	// left:0, rigth:0, bottom:0, left:0 = 佔滿基準元素

	// 但是 absolute 只會在原點，如果頁面變大就不會跟著移動，所以用 fixed
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	pointer-events: none;
}

#overlay.is-active {
	opacity: 1;
	pointer-events: all;
}

#modal-btn {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	border: none;
	border-radius: 50%;
	background-color: #007f5f;
	color: #fff;
	font-size: 1.5rem;
	transform: rotate(45deg);
	transition: transform .3s ease-in-out;
}
#modal-btn.is-active {
	transform: rotate(0deg);
}

.add-form.has-validation {
	// Ok
	.form-control.valid-feedback {
		input {
		border: 1px solid #2ecc71;
		}
	}

	// not Ok
	.form-control.invalid-feedback {
		input {
			border: 1px solid #e74c3c;
		}
		small {
			color: #e74c3c;
			font-size: .5rem;
		}
	}
}

